.avatar {
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatar__img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.avatar__username {
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-weight: 600;
}
